body {
  font-size: 16px;
  color: #000;
  background-color: #fff;
  font-family: 'Oxygen', sans-serif;
}

/** HEADER **/
#header-nav {
  background-color: gray;
  border-radius: 0;
  border: 2px solid black;
  padding: 5px;
}

.navbar-brand {
  padding-top: 10px;
  padding-bottom: 10px;
}

.navbar-brand h1 { /* Restaurant name: FOOD, LLC */
  font-family: 'Lora', serif;
  color: black;
  font-size: 1.5em;
  text-transform: uppercase;
  font-weight: bold;
  text-shadow: 1px 1px 1px #222;
  margin-top: 0;
  margin-bottom: 0;
  line-height: .75;
}
.navbar-brand a:hover, .navbar-brand a:focus {
  text-decoration: none;
}

#nav-list {
  /*position: absolute; */
  margin-top: 0px;
  margin-bottom: 0px;
  background-color: white;
  border: none;
  padding: 0px;
}

#nav-list a {
  color: black;
  text-align: center;
  border: 1px solid black;

}
#nav-list a:hover {
  background: #E7E7E7;
}
#nav-list a {
  font-size: 1.8em;
}


.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
  border: 1px solid #61122f;
}
.navbar-header button.navbar-toggle {
  clear: right;
   
  margin-top: 10px;
  margin-bottom: 10px; 

  padding-top: 10px;
  padding-bottom: 10px;
  
}




/* END HEADER */

/********** Large devices only **********/
@media (min-width: 1200px) {

}

/********** Medium devices only **********/
@media (min-width: 992px) and (max-width: 1199px) {
  /* Header */
 
  /* End Header */
}

/********** Small devices only **********/
@media (min-width: 768px) and (max-width: 991px) {

}

/********** Extra small devices only **********/
@media (max-width: 767px) {
  /* Header */
  .navbar-brand {
    padding-top: 10px;
    height: 60px;
  }
  .navbar-brand h1 { /* Restaurant name */
    padding-top: 10px;
    font-size: 5vw; /* 1vw = 1% of viewport width */
  }
 
  #collapsable-nav a { /* Collapsed nav menu text */
    font-size: 1.2em;
  }
 
  /* End Header */

}

h2, h3 {
  text-align: center;
  font-weight: bold;

}
h3 {
  margin-top: 10px;
}
.menu-item {
  background-color: gray;
  border: 2px solid black;
  padding-left: 5px; 
  padding-right: 5px;
  margin-top: 15px;
}
